.search{
    margin: 20px 10px 50px;
}
.search input{
    border: 2px solid #2e0e2f;
    border-radius: 10px;
    padding: 8px;
    width: 250px;
    font-size: 0.9rem;
    color: #2e0e2f;
    margin-right: 10px;
}
.search input:focus{
    outline: none;
}
.search button{
    padding: 8px;
    font-size: 1rem;
    background-color: #702973;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}