.footer {
  text-align: center;
  background-color: #501952;
  padding: 15px;
  margin: 10px;
  margin-top: 40px;
  color: white;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 500;
}
.header span {
  font-size: 0.9rem;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #744776;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
}
.header div {
  font-size: 1.6rem;
  background-color: white;
  text-align: center;
  height: 35px;
  color: #501952;
  width: 35px;
  border-radius: 9px;
  padding: 2px;
  position: relative;
}
.header a {
  font-size: 1.5rem;
  font-weight: 600;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #501952;
  padding: 10px 20px;
  border-radius: 10px;
}
